[Unit]
Description=fosiaudio_chilli service
After=network.target sound.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/fosiaudio_chilli

[Install]
WantedBy=multi-user.target
